.main {
  top: 155px;
  position: absolute;
}

.allbiz-title {
  font-size: 24px;
  color: rgb(45, 46, 47);

  margin-left: 64px;
}

.biz-box {
  display: flex;

  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;

  width: 50vw;
  max-width: 888px;
  min-width: 728px;
  max-height: 275px;
  border-bottom: #ebebeb 1px solid;
  padding: 24px;
}

.biz-box:hover {
  box-shadow: 0 0 5px 3px rgb(245, 245, 245);
  border-radius: 3px;
}

#biz-closed {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #D32323;
  margin-right: 3px;
}

#biz-hours,
#biz-hours-1 {
  display: flex;

  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-size: 14px;
}

.biz-img-box {
  display: flex;

  margin-right: 25px;

  max-width: 220px;
  max-height: 220px;
  min-width: 150px;
  min-height: 150px;
}

#biz-img {
  aspect-ratio: 1 / 1;

  width: 100%;
  height: auto;

  object-fit: cover;

  border-radius: 4px;
  vertical-align: center;
}

#biz-img:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.biz-info-box {
  max-height: 275px;
}

#biz-hours {
  margin: 0 0 8px 0;
}

#biz-open {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #00806B;
  margin-right: 3px;
}

#biz-price {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-size: 14px;
  color: rgb(110, 112, 114);

}

#biz-rev {
  display: flex;
  align-items: flex-start;
  margin: 0 0 8px 0;
}

#biz-rev img {
  padding-top: 2px;
  margin-top: 2px;
}

#biz-rev-info {
  display: flex;
  align-items: center;
}

#biz-rev-p {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-size: 14px;
  color: rgb(110, 112, 114);

  margin-left: 5px;
}

#biz-text-rev {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-size: 14px;
  color: rgb(110, 112, 114);

  padding-bottom: 5px;
}

#biz-title {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: rgb(45, 46, 47);
  margin-left: 24px;
}

#biz-title-1 {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: rgb(45, 46, 47);
}

#biz-title-1:hover {
  text-decoration: underline;
}

#biz-tras {
  display: flex;
  align-items: center;
}

#biz-type-butts {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #6E7072;

  background-color: rgb(240, 240, 240);
  border: none;
  border-radius: 4px;
  margin-right: 8px;
  height: 20px;
}

#biz-type-loc {
  display: flex;
  align-items: center;
  margin: 0 0 8px 0;
}



#rev-rating {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: rgb(45, 46, 47);
  margin: 0 5px;
  padding-bottom: 5px;
}

#tra-text {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: rgb(45, 46, 47);

  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-right: 20px;
}

#tra-text img {
  margin-right: 4px;
}
