/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
}

.loading-container {
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.squeal-loading {
    width: 30%;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    cursor: pointer;
}

body {
    margin: 0;
}

textarea {
    resize: none;
    border-radius: 4px;
}

button,
NavLink {
    cursor: pointer;
}


/************ REVIEW RATING LOGIC **************/

.middle-star,
.last-star {
    margin-left: 2px;
}
