#about {
  margin-left: 2px;
  margin-right: 4px;
}

#dropdown-hr {
  opacity: 0.3;
}

#dropdown-text,
#dropdown-text-b,
#logout-button {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 600;

  color: rgb(45, 46, 47);

  display: flex;
  align-items: center;
  padding: 8px;
}

/* #dropdown-text {
  padding: 5px;
}

#dropdown-text-b {
  margin-left: 5px;
} */

#logout {
  display: flex;
  border-top: 1px solid #ebebeb;
  padding: 16px 8px 0 15px;
  margin-top: 16px;
}

#logout-button {
  background-color: white;
  border: none;
}

.profile-button {
  margin-right: 12px;
}

.profile-dropdown {
  position: absolute;
  background-color: white;

  width: 226px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 65px;
  border-radius: 3px;
  padding: 16px;
}
