div input:first-child {
  margin-right: 5px;
}

#email #login-input {
  margin-top: 6px;
}

#fineprint-link {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 115, 187);
  cursor: pointer;
}

#fineprint-link:hover {
  text-decoration: underline;
}

#fineprint-text {
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 3px;
}


#first-last-name {
  display: flex;
  margin-top: 22px;
}

#login-fineprint {
  display: flex;
  align-items: center;

  color: rgb(153, 153, 153);
  font-size: 12px;
  justify-content: flex-end;
}

#modal-errors {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-size: 14px;
  color: #E00707;
  font-weight: 500;
  background-color: rgb(252,214,211);
  border-radius: 3px;
  padding: 8px;
  list-style: none;
}

#password #login-input {
  margin-top: 9px;
}

#terms-signup {
  font-size: 11px;
  font-weight: 300;
  text-align: center;
  margin: 0 0 30px 0;
}

#zip #login-input {
  margin-top: 18px;
}

#sign-up-errors-div-container  {
  margin-top: 30px;
  background-color: rgb(252,214,211);
  border-radius: 3px;
  padding: 8px;
}
#sign-up-errors {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-size: 14px;
  color: #E00707;
  font-weight: 500;
  background-color: rgb(252,214,211);
  border-radius: 3px;
  padding: 0 8px;
  list-style: none;
}
