.homepage-container {
    margin-top: 683px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/************************* Recent Activity ***********************/

.recent-activity-title {
    font-size: 28px;
    margin: 0;
    margin-bottom: 48px;
}

.recent-activity-container {
    border-bottom: solid 1px #ebebeb;
    padding: 56px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recent-cards-container {
    display: flex;
    justify-content: space-between;
}

.review-card {
    border: solid 1px #ebebeb;
    width: 25vw;
    padding: 16px 24px;
    margin: 0 16px;
    max-width: 360px;
}

.review-usericon {
    height: 40px;
    border-radius: 50%;
}

.review-card-user-info {
    display: grid;
    grid-template-columns: 40px 1fr;
}

.review-userinfo {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

.review-username {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 3px;
}

.review-written {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.review-biz-pic {
    background: center url('https://s3-media0.fl.yelpcdn.com/bphoto/NPT_irkrn5ZNerx8T6Kj2w/o.jpg');
    /* background-size: contain no-repeat; */
    height: 93px;
    margin: 16px -24px;
}

.review-biz-name {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: rgba(2,122,151,1);
}

.review-card-stars {
    margin: 8px 0;
}

.middle-star,
.last-star {
    margin-left: 2px;
}

.review-card-text {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 40px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    width: 100%;
    /* white-space: nowrap; */
    overflow: hidden;
}

.review-card-continue {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 600;
    color: rgba(2,122,151,1);
    font-size: 14px;
    line-height: 20px;
}

/************************** Categories *************************/

.category-type-container {
    padding: 48px 0;
}

.category-type-title {
    font-size: 28px;
    margin: 0;
}
